* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-style: normal;
  list-style-type: none;
}

body {
  background-image: linear-gradient(yellow, white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  margin: 0 5%;
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 25px;
  background-image: linear-gradient(red, yellow);
}

header h1 {
  font-size: 50px;
}

nav ul {
  display: flex;
  column-gap: 20px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 20px;
  cursor: pointer;
}

.homeSection {
  margin-top: 50px;
  margin-left: 5%;
}

.homeSection h1 {
  font-size: 30px;
}

.homeSection p {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 20px;
}

.homeSection li {
  margin-left: 7%;
  list-style-type: disc;
  font-size: 18px;
}

.calculatorSection {
  display: flex;
  margin-top: 50px;
  margin-left: 5%;
}

.calculatorSection h1 {
  font-size: 30px;
}

.calculator-container {
  width: 50%;
  margin: auto;
  height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.output,
button {
  border: 1px solid rgb(220, 218, 218);
  font-weight: bold;
  cursor: pointer;
}

.output {
  background-color: rgb(139, 134, 134);
  color: white;
  grid-column-start: 1;
  grid-column-end: span 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2px;
  font-size: 20px;
}

.zero {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.division,
.product,
.minus,
.plus,
.equal {
  background-color: orange;
}

.quoteSection {
  width: 60%;
  margin: auto;
  margin-top: 150px;
}

.quoteSection p {
  font-size: 24px;
}

.quoteSection span {
  font-weight: 600;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav ul {
    margin-top: 20px;
  }
  
}

